@{
    ViewData["Title"] = "Home Page";
}
@section Styles {
  <link rel="stylesheet" href="~/css/loginpage.css" asp-append-version="true" />
 <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

  <link rel="stylesheet" href="~/css/components/mainbutton.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/inputbar.css" asp-append-version="true" />

}

<div class="login-bg-container">
    <div class="login-card">
        <div class="login-main-text">
            ลงชื่อเข้าใช้
        </div>
        
        <div class="login-input">
            @await Component.InvokeAsync("InputBar", new { targetId = "Username", inputType = "text", placeHolder = "Username", width = "75%" })
            @await Component.InvokeAsync("InputBar", new { targetId = "password", inputType = "text", placeHolder = "Password", width = "75%" })
        </div>

        <div class="login-button">
            @await Component.InvokeAsync("MainButton", new { targetId = "submit-login", buttonType = "submit", text = "ลงชื่อเข้าใช้" })
            @await Component.InvokeAsync("MainButton", new { targetId = "register", buttonType = "submit", text = "ลงทะเบียน", color = "var(--option-color)" })
        </div>

        <div class="oauth-button">
            <a href="/Auth/Login">
            @await Component.InvokeAsync("MainButton", new { 
                targetId = "google-oauth", 
                imageUrl = "/images/google.svg", 
                buttonType = "submit", 
                width = "100%", 
                text = "เข้าสู่ระบบด้วย Google", 
                color = "var(--tertiary-color)", 
                textColor = "var(--option-color)" 
            })
            </a>
        </div>
    </div>
</div>
