@model where_we_go.DTO.RegisterDto
@using where_we_go.ViewComponents

@{
    ViewData["Title"] = "Register";
}

@section Styles {
    <link rel="stylesheet" href="~/css/registerpage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* Import css component *@
    <link rel="stylesheet" href="~/css/components/mainbutton.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/inputbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/select_dropdown.css" asp-append-version="true" />
}

<div class="register-bg-container">
    <div class="register-card">
        <div class="register-main-text">
            ลงทะเบียน
        </div>

        <form style="width: 100%; gap : 1.5rem ; display :flex ; align-items : center ; justify-content : center ; flex-direction : column" method="post" asp-action="Register" asp-controller="Auth">
            <div class="register-input">                
                @await Component.InvokeAsync("InputBar", new { targetId = "Firstname", inputType = "text", placeHolder = "First Name", width = "75%" })
                @await Component.InvokeAsync("InputBar", new { targetId = "Lastname", inputType = "text", placeHolder = "Last Name", width = "75%" })
                @await Component.InvokeAsync("InputBar", new { targetId = "Email", inputType = "email", placeHolder = "Email", width = "75%" })
                @await Component.InvokeAsync("InputBar", new { targetId = "Password", inputType = "password", placeHolder = "Password", width = "75%" })
                @await Component.InvokeAsync("InputBar", new { targetId = "ConfirmPassword", inputType = "password", placeHolder = "Confirm Password", width = "75%" })
                @await Component.InvokeAsync("SelectDropdown", new { 
                    targetId = "Gender", 
                    mainText = "เพศ", 
                    width = "75%", 
                    height = "30px",
                    items = new List<SelectDropdownItem>{
                        new SelectDropdownItem {Text = "ชาย" , Value="male"},
                        new SelectDropdownItem {Text = "หญิง" , Value="female"},
                        new SelectDropdownItem {Text = "อื่นๆ" , Value="other"}
                    }
                })
            </div>

           @if (!ViewData.ModelState.IsValid)
            {
                var allErrors = string.Join("\\n", ViewData.ModelState.Values
                    .SelectMany(v => v.Errors)
                    .Select(e => "• " + e.ErrorMessage));

                <script type="text/javascript">
                    alert("เกิดข้อผิดพลาด:\n @Html.Raw(allErrors)");
                </script>
            }

            <div class="register-button">
                <a asp-controller="Auth" asp-action="Login"></a>
                @await Component.InvokeAsync("MainButton", new { width = "75%" ,targetId = "register-submit", buttonType = "submit", text = "ลงทะเบียน", color = "var(--option-color)" })
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}