@using System.Xml.Serialization
@using where_we_go.DTO
@model PostCreateDto
@{
    ViewData["Title"] = "Create Post";
}

@section Styles {
    <link rel="stylesheet" href="~/css/postcreate.css" asp-append-version="true" />

    @* Import component css *@
    <link rel="stylesheet" href="~/css/components/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/mainbutton.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/hamburgermenu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/forminput.css" asp-append-version="true" />
}

@section Scripts
{

    <script asp-append-version="true" src="~/js/postcreate.js"></script>
}

<header>
    @await Component.InvokeAsync("Navbar")
</header>

<div class="post-bg-container">
    <div class="post-container">
        <h2 class="post-title">Create New Post</h2>

        <div asp-validation-summary="All" class="text-danger" style="color: red; margin-bottom: 15px;"></div>

        <div onclick="document.getElementById('post-imageInput').click()" class="post-img">
            <img id="post-img-url"
                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSTgFro4TxtuXEvoGJDkuv8o972kVsSsbi2w&s"
                 alt="">
        </div>
            <input type="file" id="post-imageInput" style="display: none;" accept="image/*">  


        <form asp-action="PostCreate" asp-controller="Post" method="post">
            
            @await Component.InvokeAsync("FormInput", new
            {
                id = "Title",
                name = "Title",
                label = "Title",
                type = "text",
                required = true
            })

            @await Component.InvokeAsync("FormTextarea", new
            {
                id = "Description",
                name = "Description",
                label = "Description",
                required = true
            })

            @await Component.InvokeAsync("FormInput", new
            {
                id = "LocationName",
                name = "LocationName",
                label = "Location Name",
                type = "text",
                required = true
            })
            <div id="map" style="height: 500px; width: 100%;"></div>
            <input id="location-lat" type="hidden" name="LocationLat"  />
            <input id="location-lon" type="hidden" name="LocationLon"  />

            @await Component.InvokeAsync("FormInput", new
            {
                id = "DateDeadline",
                name = "DateDeadline",
                label = "Event Date",
                type = "date",
                required = true
            })

            @await Component.InvokeAsync("FormInput", new
            {
                id = "MinParticipants",
                name = "MinParticipants",
                label = "Min Participants",
                type = "number",
                required = true
            })

            @await Component.InvokeAsync("FormInput", new
            {
                id = "MaxParticipants",
                name = "MaxParticipants",
                label = "Max Participants",
                type = "number",
                required = true
            })

            @await Component.InvokeAsync("MainButton", new
            {
                targetId = "submit-btn",
                buttonType = "submit",
                text = "Create Post"
            })
            
            
            <input type="hidden" name="postId" value="@ViewBag.postId" />
            <input type="hidden" id="PostImgkey" name="PostImgkey" value="" />
        </form>
        
                


    </div>
</div>