
<nav class="nav-bar">
    <div class="nav-left-container">
        <img src="/images/wherewego-logo.svg" class="logo-icon">
    </div>
    <div class="search-container">
        <input class="search-input" id="search-context" type="text" placeholder="ค้นหากิจกรรม">
        <button class="search-submit-btn">search</button>
    </div>
    <div class="login-container">
        <img src="/images/non-profile-login.svg" class="login-icon" />
        <a href="#" class="login-link">ลงชื่อเข้าใช้</a>
    </div>
</nav>

