<nav class="nav-bar">
    <div class="nav-left-container">
        <a asp-controller="Home">
            <img src="/images/wherewego-logo.svg" class="logo-icon">
        </a>
        <div class="nav-menu">
            <ul class="nav-list">
                @if (ViewBag.isAuth)
                {
                    <li class="nav-item"><a href="/" class="nav-link">กิจกรรม</a></li>
                    <li class="nav-item"><a href="/" class="nav-link">แชทกลุ่ม</a></li>
                    <li class="nav-item"><a href="/" class="nav-link">แจ้งเตือน</a></li>
                }
            </ul>
        </div>
        <div class="hbg-wrapper">
            @if(ViewBag.isAuth)
            {
            @await Component.InvokeAsync("HamburgerMenu", new { 
                items = new List<where_we_go.ViewComponents.NavItem> {
                    new() { Text = "หน้าแรก", Href = "/" },
                    new() { Text = "กิจกรรม", Href = "/" },
                    new() { Text = "แชทกลุ่ม", Href = "/" },
                     new() { Text = "แจ้งเตือน", Href = "/" },
                    @* new() { Text = "ออกจากระบบ", Href = "/Auth/Logout" }, *@
                    
                } 
            })
            }
        </div>
    </div>

    <div class="login-container">

                @if (ViewBag.isAuth)
                {
                    <a asp-controller="User" asp-action="UserProfile">
                    <img src="@Model.ProfileUrl" class="login-icon" />
                     <div class="login-text"">
                    <span class="user-name">@Model.Name</span>
                    @* <a asp-controller="Auth" asp-action="Logout">ออกจากระบบ</a> *@
                    </div>
                    </a>
                    
                }
                else
                {
                    <img src="/images/non-profile-login.svg" class="login-icon" />
                    <a asp-controller="Auth" asp-action="Login" class="login-link">ลงชื่อเข้าใช้</a>
                }




    </div>

</nav>