@using System.Xml.Serialization
@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
  <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

  @* Import component css *@
  <link rel="stylesheet" href="~/css/components/navbar.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/components/mainbutton.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/components/hamburgermenu.css" asp-append-version="true" />
}
<header>
    @await Component.InvokeAsync("Navbar")
</header>


@if(!ViewBag.isAuth)
{
<div class="home-bg-container">
  <div class="main-text">
    Where We Go
  </div>
  <div class="sub-text">
    <p>
    เช็กอินความสุข บุกทุกพิกัดลับ
    ให้ทุกการเดินทางมีความหมายมากกว่าที่เคยสัมผัส 
    พร้อมเปิดวาร์ปสถานที่ใหม่ๆ
    </p>
  </div>
      <a asp-controller="Auth" asp-action="Login">
          @await Component.InvokeAsync("MainButton", new {  targetId = "started",  buttonType = "submit",  text = "เริ่มต้นใช้งาน"  })   
      </a>
  </div>

}
  
<div class="home-post-container">
  test
</div>

