@import url('site.css');

.home-bg-container{
  width: 100%;
  height: 100vh;
  background-image: url('/images/background-desktop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  }

  .home-bg-container .main-text{
    font-size: var(--font-size-big);
    color: var(--tertiary-color);
    filter: drop-shadow(0px 0px 10px var(--primary-color));

  }
  .home-bg-container .sub-text
  {
    text-align: center;
    font-size: var(--font-size-medium);
    width: 65%;
    color: var(--tertiary-color);
}

.home-post-contianer
{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}