@import url('site.css');

.post-bg-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5rem 0 2rem;
}

.post-container {
    padding: 1rem;
    width: 60%;
    background-color: var(--tertiary-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.post-thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.post-title {
    font-size: var(--font-size-large);
    color: var(--primary-color);
    margin-bottom: 1rem;
    text-align: center;
}