@import url('site.css');

.register-bg-container{
  width: 100%;
  height: 100vh;
  background-image: url('/images/background-desktop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  }

.register-bg-container .register-main-text{
    font-size: var(--font-size-medium);
    color: var(--option-color);
 }

 .register-bg-container .register-card
 {
    margin: 20px;
    background-color: var(--bg-color);
    border-radius: 20px ;
    width: 30rem;
    height: 35rem;
    filter: drop-shadow(0px 10px 10px rgba(0,0,0, 0.6)) grayscale(20%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;

 }

.register-input{
   width: 100%;
   gap: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.register-button{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}


@media (max-width: 768px) {
    .register-bg-container .register-card
    {
        width: 80%;
        margin: 50%;
        min-height: auto;
        padding: 40px 20px;
    }
}