@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    font-family: 'Itim', cursive;
}
:root{
    --primary-color : #0077B6;
    --secondary-color :#00B4D8;
    --tertiary-color : #CAF0F8;
    --accent-color : #00B4D8;
    --option-color : #03045E;
    --bg-color: #A9D0EE;
    --mobile-width : 768px;

    --font-size-big: 64px;   
    --font-size-medium: 32px; 
    --font-size-base: 16px;  
    --font-size-small: 14px;  
}

body
{
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}
