@import url("site.css");

.profile-container
{
    padding: 5em;
    display: flex;
    justify-content: center;
}

.profile-card
{
    background-color: var(--tertiary-color);
    width: 65%;
    height: 30rem;
    border-radius: 25px;
}

.profile-top
{
    display: flex;
    flex-direction: row;
}

.profile-img
{
    margin: 20px;
    width: auto;
    display: flex;
    justify-content: row;
    align-items: center;
}

.profile-top img
{
    width: 12em;
    margin: 25px;
    height: 12em;
    border-radius: 25px;
}

.profile-content
{
    margin: 25px 25px 25px 0;
}

.profile-content p
{
display: -webkit-box;
  -webkit-line-clamp: 3;           /* อยากให้โชว์กี่บรรทัดใส่เลขไปเลย */
  -webkit-box-orient: vertical;  
  overflow: hidden;
}